// VARIABLES

// colores
$bg-header: rgb(10, 39, 34);
$bg-log: rgb(206, 235, 206);
$color-letra: rgb(156, 33, 31);

// medidas
$padding-carteles: 6px;
$altura-header: 30vh;

// fuentes
$font-titulo: Arial;
$font-subtitulos: Georgia;
